.Hello {
    color: purple;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.Bal{
    color: purple;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.Tran{
    color: purple;
    font-size: 2.5em;
    margin-bottom: 20px;
}